.ss-field {
	display: flex;
	flex-direction: column;
}
.ss-field + .ss-field {
	margin-top: 12px;
}
.ss-label {
	margin-bottom: 3px;
}
.ss-input {
	flex: 1;
}
.ss-input input[type="text"],
.ss-input textarea {
	width: 100%;
	margin: 0;
}

/* Checkbox field */
.ss-field-checkbox {
	flex-direction: row;
}
.ss-field-checkbox .ss-label {
	order: 2;
}
.ss-field-checkbox .ss-input {
	flex: 0;
}

@media (min-width: 1200px) {
	.ss-field {
		flex-direction: row;
	}
	.ss-label {
		width: 25%;
		margin-bottom: 0;
	}
	.ss-field-checkbox .ss-label {
		order: 0;
	}

	/* Styles for 'side' meta box */
	#side-sortables .ss-field {
		flex-direction: column;
	}
	#side-sortables .ss-label {
		width: auto;
		margin-bottom: 3px;
	}
	#side-sortables .ss-field-checkbox {
		flex-direction: row;
	}
	#side-sortables .ss-field-checkbox .ss-label {
		order: 2;
	}
}

/* Counter */
.ss-count {
	margin-top: -1px;
	background-color: #f7f7f7;
	border: 1px solid #e5e5e5;
	padding: 2px 5px;
	font-size: 12px;
}


/* For terms */
.term-php .ss-label {
	font-weight: bold;
	font-size: 14px;
}

@media (min-width: 782px) {
	.term-php .ss-field {
		flex-direction: row;
	}
	.term-php .ss-label {
		box-sizing: border-box;
		width: 210px;
		padding: 14px 10px 14px 0;
		margin-bottom: 0;
	}
	.term-php .ss-input {
		padding: 9px 10px;
	}
	.term-php .ss-input input[type="text"],
	.term-php .ss-input textarea {
		width: 95%;
	}
	.term-php .ss-field-checkbox {
		align-items: center;
	}
	.term-php .ss-field-checkbox .ss-label {
		order: 0;
	}
}
