/* Field */
.ss-field {
	display: flex;
	flex-direction: column;
}
.ss-field + .ss-field {
	margin-top: 12px;
}
.ss-label {
	margin-bottom: 3px;
	box-sizing: border-box;
}
.ss-label > label {
	font-weight: 600;
}
.ss-input {
	flex: 1;
}
.ss-input input[type="text"],
.ss-input textarea {
	width: 100%;
	margin: 0;
}
.ss-description {
	font-size: 12px;
	font-style: italic;
	color: #666;
	margin-top: 3px;
	box-sizing: border-box;
}

/* Select image button */
.ss-select-image.ss-select-image {
	margin-top: 5px;
}

/* Checkbox field */
.ss-field-checkbox {
	flex-direction: row;
}
.ss-field-checkbox .ss-label {
	order: 2;
}
.ss-field-checkbox .ss-input {
	flex: 0;
}

@media (min-width: 1200px) {
	.ss-field {
		flex-direction: row;
	}
	.ss-label {
		width: 25%;
		max-width: 210px;
		margin-bottom: 0;
	}
	.ss-field-checkbox .ss-label {
		order: 0;
	}

	/* Styles for 'side' meta box */
	#side-sortables .ss-field {
		flex-direction: column;
	}
	#side-sortables .ss-label {
		width: auto;
		margin-bottom: 3px;
	}
	#side-sortables .ss-field-checkbox {
		flex-direction: row;
	}
	#side-sortables .ss-field-checkbox .ss-label {
		order: 2;
	}
}

/* Status icon */
.ss-success:after,
.ss-warning:after {
	display: inline-block;
	width: 12px;
	height: 12px;
	font-size: 8px;
	line-height: 12px;
	border-radius: 9px;
	color: #fff;
	text-align: center;
}
.ss-success:after {
	content: "\2713";
	background: #70d028;
}
.ss-warning:after {
	content: "!";
	background: #f56e28;
}

/* Tabs */
.ss-tab-nav {
	margin: 12px 0 18px;
}
.ss-tab-nav > .button-link {
	text-decoration: none;
}
.ss-tab-nav > .button-link:focus {
	box-shadow: none;
}
.ss-tab-nav .ss-active {
	font-weight: 600;
}
.ss-tab {
	display: none;
}
.ss-tab.ss-active {
	display: block;
}

/* For terms */
.term-php .ss-label {
	font-size: 14px;
}

@media (min-width: 782px) {
	.term-php .ss-field {
		flex-direction: row;
	}
	.term-php .ss-label {
		width: 210px;
		padding: 14px 10px 14px 0;
		margin-bottom: 0;
	}
	.term-php .ss-input {
		padding: 9px 10px;
	}
	.term-php .ss-input input[type="text"],
	.term-php .ss-input textarea,
	.term-php .ss-description {
		width: 95%;
	}
	.term-php .ss-field-checkbox {
		align-items: center;
	}
	.term-php .ss-field-checkbox .ss-label {
		order: 0;
	}
}
