/* Field */
.ss-field {
	display: flex;
	flex-direction: column;
}
.ss-field + .ss-field {
	margin-top: 12px;
}
.ss-label {
	margin-bottom: 3px;
	box-sizing: border-box;
}
.ss-label > label {
	font-weight: 600;
}
.ss-input {
	flex: 1;
}
.ss-input input[type="text"],
.ss-input textarea {
	width: 100%;
	margin: 0;
}

/* Select image button */
.ss-select-image.ss-select-image {
	margin: 0 0 0 5px;
}

/* Checkbox field */
.ss-field-checkbox {
	flex-direction: row;
}
.ss-field-checkbox .ss-label {
	order: 2;
}
.ss-field-checkbox .ss-input {
	flex: 0;
}

/* Group inputs */
.ss-input-group {
	width: 100%;
	display: flex;
}
.ss-input-group input[type="text"] {
	min-width: 0;
	flex: 1;
}

@media (min-width: 1200px) {
	.ss-field {
		flex-direction: row;
		align-items: flex-start;
	}
	.ss-label {
		width: 25%;
		max-width: 210px;
		margin-bottom: 0;
	}
	.ss-field-checkbox .ss-label {
		order: 0;
	}

	/* Styles for 'side' meta box */
	#side-sortables .ss-field {
		flex-direction: column;
	}
	#side-sortables .ss-label {
		width: auto;
		margin-bottom: 3px;
	}
	#side-sortables .ss-field-checkbox {
		flex-direction: row;
	}
	#side-sortables .ss-field-checkbox .ss-label {
		order: 2;
	}
}

/* Status icon */
.ss-success:after,
.ss-warning:after,
.ss-danger:after {
	display: inline-block;
	width: 12px;
	height: 12px;
	font-size: 8px;
	line-height: 12px;
	border-radius: 9px;
	color: #fff;
	text-align: center;
}
.ss-success:after {
	content: "\2713";
	background: #70d028;
}
.ss-warning:after {
	content: "!";
	background: #f56e28;
}
.ss-danger:after {
	content: "\2717";
	background: #e53e3e;
}

/* For terms & settings page (for homepage) */
.term-php .ss-label,
.settings_page_slim-seo .ss-label {
	font-size: 14px;
}

/* Settings page */
.settings_page_slim-seo .ss-field {
	margin-top: 12px;
}

@media (min-width: 782px) {
	.term-php .ss-field,
	.settings_page_slim-seo .ss-field {
		flex-direction: row;
		align-items: flex-start;
	}
	.term-php .ss-label,
	.settings_page_slim-seo .ss-label {
		width: 210px;
		padding: 8px 10px 8px 0;
		margin-bottom: 0;
	}
	.term-php .ss-input,
	.settings_page_slim-seo .ss-input {
		padding: 8px 10px;
	}
	.term-php .ss-input input[type="text"],
	.settings_page_slim-seo .ss-input input[type="text"],
	.term-php .ss-input textarea,
	.settings_page_slim-seo .ss-input textarea,
	.term-php .ss-input .description,
	.settings_page_slim-seo .ss-input .description,
	.term-php .ss-input-group,
	.settings_page_slim-seo .ss-input-group {
		width: 95%;
	}
	.term-php .ss-field-checkbox,
	.settings_page_slim-seo .ss-field-checkbox {
		align-items: center;
	}
	.term-php .ss-field-checkbox .ss-label,
	.settings_page_slim-seo .ss-field-checkbox .ss-label {
		order: 0;
	}
}
