/* Field */
.ss-field {
	display: flex;
	flex-direction: column;
}
.ss-field + .ss-field {
	margin-top: 12px;
}
.ss-label {
	margin-bottom: 3px;
}
.ss-input {
	flex: 1;
}
.ss-input input[type="text"],
.ss-input textarea {
	width: 100%;
	margin: 0;
}
.ss-description {
	margin-top: -1px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	padding: 2px 5px;
	font-size: 12px;
}

/* Input group */
.ss-input-group {
	flex: 1;
	display: flex;
}
.ss-input-append {
	white-space: nowrap;
	border: none;
	background: #ddd;
	cursor: pointer;
}
.ss-input-append:hover {
	background: #e5e5e5;
}

/* Checkbox field */
.ss-field-checkbox {
	flex-direction: row;
}
.ss-field-checkbox .ss-label {
	order: 2;
}
.ss-field-checkbox .ss-input {
	flex: 0;
}

@media (min-width: 1200px) {
	.ss-field {
		flex-direction: row;
	}
	.ss-label {
		width: 25%;
		margin-bottom: 0;
	}
	.ss-field-checkbox .ss-label {
		order: 0;
	}

	/* Styles for 'side' meta box */
	#side-sortables .ss-field {
		flex-direction: column;
	}
	#side-sortables .ss-label {
		width: auto;
		margin-bottom: 3px;
	}
	#side-sortables .ss-field-checkbox {
		flex-direction: row;
	}
	#side-sortables .ss-field-checkbox .ss-label {
		order: 2;
	}
}

/* Status icon */
.ss-success:after,
.ss-warning:after {
	display: inline-block;
	font: normal 14px/1 dashicons;
	position: relative;
	top: 4px;
}
.ss-success:after {
	content: "\f12a";
	color: #70d028;
}
.ss-warning:after {
	content: "\f534";
	color: #f56e28;
}

/* Toggle */
.ss-toggle.ss-toggle {
	margin: 12px 0;
	text-decoration: none;
}
.ss-toggle.ss-toggle:hover {
	background: none;
}
.ss-toggle .dashicons {
	font-size: 12px;
	height: 12px;
	width: 12px;
	vertical-align: baseline;
	margin-left: 3px;
	top: 2px;
	position: relative;
}
.ss-toggle-item {
	max-height: 0;
    overflow-y: hidden;
	transition: max-height 0.5s ease-in-out;
}
.ss-toggle.ss-active + .ss-toggle-item {
	max-height: 999px;
}
.ss-toggle.ss-active .dashicons:before {
	content: "\f343";
}


/* For terms */
.term-php .ss-label {
	font-weight: 600;
	font-size: 14px;
}
.term-php .ss-description {
	background: #e5e5e5;
	border-color: #ddd;
	box-sizing: border-box;
}

@media (min-width: 782px) {
	.term-php .ss-field {
		flex-direction: row;
	}
	.term-php .ss-label {
		box-sizing: border-box;
		width: 210px;
		padding: 14px 10px 14px 0;
		margin-bottom: 0;
	}
	.term-php .ss-input {
		padding: 9px 10px;
	}
	.term-php .ss-input input[type="text"],
	.term-php .ss-input textarea,
	.term-php .ss-description,
	.term-php .ss-input-group {
		width: 95%;
	}
	.term-php .ss-field-checkbox {
		align-items: center;
	}
	.term-php .ss-field-checkbox .ss-label {
		order: 0;
	}
}
