.react-tabs {
	background: #fff;
	position: relative;
}

.react-tabs__tab-list {
	margin: 0 0 24px;
	display: flex;
	align-items: center;
}

.react-tabs__tab-list .button {
	margin-left: auto;
	margin-right: 12px;
	box-shadow: none;
}

.react-tabs__tab {
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	font-weight: 500;
}

.react-tabs__tab:not(:last-child) {
	border-right: 1px solid #ccd0d4;
	padding-right: 8px;
	margin-right: 8px;
}

.react-tabs__tab--selected,
.react-tabs__tab:hover {
	color: #007cba;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}

#sslm-post .react-tabs__tab-panel,
.ss-content .react-tabs__tab-panel {
	max-width: 100%!important;
}