.nav-tab-wrapper {
	padding: 0;
	margin-top: 60px;
}

.nav-tab-active:focus {
	box-shadow: none;
}

.ss-tab-pane {
	display: none;
}

.ss-is-active {
	display: block;
}

/* Tooltip */
.ss-tooltip {
	border: none;
	background: no-repeat;
	padding: 0;
	color: #ccc;
	width: 16px;
	height: 16px;
}
.ss-tooltip .dashicons {
	font-size: 14px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}
.tippy-tooltip {
	text-align: left;
}