/* General */
.wrap {
	--color-gray: #999;
	--color-light: #ccd0d4;
	--color-lighter: #f0f0f0;
	--color-red: #e53e3e;
	--shadow-md: 0 1px 1px rgba(0, 0, 0, .05);
	--border: 1px solid var(--color-light);
	--border-lighter: 1px solid var(--color-lighter);
	--wp-admin-theme-color: #007cba;
}
.settings_page_slim-seo #wpcontent {
	padding-left: 0;
}
.settings_page_slim-seo .wrap {
	margin: 0;
}
.ss-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 24px;
	gap: 20px;
}
.ss-sidebar {
	width: 280px;
}

.ss-upgrade .dashicons {
	color: #ef4836;
}
.ss-upgrade li {
	padding-left: 20px;
	position: relative;
}
.ss-upgrade svg {
	width: 1em;
	height: 1em;
	fill: #0073aa;
	position: absolute;
	top: 4px;
	left: 0;
}
.notice.notice {
	margin: 24px;
}
.ss-feature {
	margin-bottom: 15px;
}

/* Header */
/* Very high specificity to overwrite Elementor's CSS: https://wordpress.org/support/topic/admin-css-file-is-enqueued-on-and-brake-other-admin-pages/ */
#wpwrap #wpcontent #wpbody .ss-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	padding: 0 24px;
	border-bottom: var(--border);
}
.ss-title svg {
	width: 36px;
	height: 36px;
	margin-right: 12px;
}
.ss-title a:first-of-type {
	margin-left: auto;
}
.ss-title a {
	font-size: 13px;
	text-decoration: none;
	color: #3c434a;
	padding: 6px 12px;
}
.ss-title a:hover {
	background: var(--color-lighter);
}
.ss-title .dashicons {
	font-size: 24px;
	width: 24px;
	height: 24px;
	display: block;
	margin-inline: auto;
	color: #3c434a;
}

/* Tabs */
.ss-tabs {
	flex: 1;
	background: #fff;
	border: var(--border);
}
.ss-content > .ss-tabs {
	margin: 0;
}
.ss-tab-list {
	border-bottom: var(--border);
	margin: 0;
	display: flex;
	align-items: center;
}
.ss-tab {
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	height: 48px;
	line-height: 42px;
	padding: 3px 12px;
	margin-bottom: 0;
	font-weight: 500;
	transition: box-shadow 0.1s linear;
	text-decoration: none;
	color: inherit;
}
.ss-tab.ss-is-active {
	box-shadow: inset 0 0 0 1.5px transparent,inset 0 -4px 0 0 var(--wp-admin-theme-color);
	color: var(--wp-admin-theme-color);
}
.ss-tab-pane {
	display: none;
	padding: 16px 12px;
}
.ss-tab-pane.ss-is-active {
	display: block;
}
.ss-tab-pane > :first-child {
	margin-top: 0;
}

/* Tooltip */
.ss-tooltip {
	border: none;
	background: no-repeat;
	padding: 0;
	color: #ccc;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.ss-tooltip .dashicons {
	font-size: 14px;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}
.tippy-tooltip {
	text-align: left;
}

/* Switch */
.ss-toggle {
	cursor: pointer;
	display: inline-block;
}

.ss-toggle__switch {
	display: inline-block;
	background: #ccc;
	border-radius: 16px;
	width: 29px;
	height: 16px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
}

.ss-toggle__switch:before,
.ss-toggle__switch:after {
	content: "";
}

.ss-toggle__switch:before {
	display: block;
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
	width: 12px;
	height: 12px;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.25s;
}

.ss-toggle input:checked + .ss-toggle__switch {
	background: #56c080;
}

.ss-toggle input:checked + .ss-toggle__switch:before {
	left: 15px;
}

.ss-toggle input {
	position: absolute;
	visibility: hidden;
}

.ss-toggle__label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}

/* Misc */
p.submit {
	margin-bottom: 0;
	padding-bottom: 0;
}

@media (max-width: 1023px) {
	.ss-upgrade {
		display: none;
	}
}