node_modules
vendor
.idea
*.swp
.DS_Store
Thumbs.db
*.LICENSE.txt

css/redirection.css
css/meta-tags.css
css/admin-columns.css

js/redirection.js
js/link-attributes/block-editor/dist
js/breadcrumbs/dist
js/meta-tags/dist