.DS_Store
Thumbs.db

*.swp
.idea

node_modules
vendor
*.LICENSE.txt

css/admin-columns.css
css/link-attributes.css
css/meta-tags.css
css/redirection.css

js/breadcrumbs/dist
js/build

phpcs.txt
phpstan.neon
phpstan.txt