/*PostTypes*/
.ss-vertical-tabs {
	display: flex;
	.react-tabs__tab-list {
		flex-direction: column;
		align-items: start;
		min-width: 120px;
		margin-right: 16px;
		li.react-tabs__tab {
			padding: 10px 0;
			border-right: 0;
			margin: 0;
		}
	}
	.react-tabs__tab-panel {
		flex: 1
	}
}

.ss-inserter {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
}

.ss-insert-image {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.ss-inserter>button,
.ss-insert-image {
	box-sizing: border-box;
	height: 100%;
	color: var(--ss-color-gray);

	.dashicons {
		font-size: 16px;
		width: 16px;
		height: 16px;
	}

	&:focus:not(:disabled) {
		box-shadow: none;
	}
}

.ss-input-wrapper {
	flex: 1;
	position: relative;
}

.ss-modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
}

.ss-modal-body {
	padding: 15px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11;
	min-width: 330px;
	border-radius: 4px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	background: #ffffff;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transform-origin: center;
	animation: zoom 0.25s;
}

@keyframes zoom {
	from {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.7);
	}
}

.ss-modal-heading {
	margin: 0 0 15px;
	padding-bottom: 8px;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.ss-modal__close {
	font-size: 16px;
	cursor: pointer;
}

.ss-dropdown {
	&__search {
		margin-bottom: 8px;

		input {
			width: 100%;
		}
	}

	&__title {
		margin: 18px 0 0;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 500;
		color: var(--ss-color-gray);
	}

	&__items {
		margin: 4px 0 0;
	}

	&__item {
		cursor: pointer;
		margin: 0;
		padding: 4px 8px;
		border-radius: 4px;
		white-space: nowrap;
		text-overflow: ellipsis;

		&:hover {
			background: var(--ss-color-lighter);
		}
	}

	&__no-results {
		width: 100%;
		margin-top: 16px;
	}
}

@import '../../node_modules/@elightup/form/style/form.scss';