@use 'components/variables';

.react-tabs {
	background: #fff;
	position: relative;

	&__tab-list {
		margin: 0 0 24px;
		display: flex;
		align-items: center;

		.button {
			margin-left: auto;
			margin-right: 12px;
			box-shadow: none;
		}
	}

	&__tab {
		cursor: pointer;
		display: inline-block;
		line-height: 1;
		font-weight: 500;

		&:not(:last-child) {
			border-right: 1px solid #ccd0d4;
			padding-right: 8px;
			margin-right: 8px;
		}

		&--selected,
		&:hover {
			color: var(--ss-color-primary);
		}
	}

	&__tab-panel {
		display: none;

		&--selected {
			display: block;
		}

		> *:first-child {
			margin-top: 0;
		}
	}
}

#sslm-post .react-tabs__tab-panel,
.ss-content .react-tabs__tab-panel {
	max-width: 100% !important;
}