.ss-filters {
	margin: 10px 0px;

	.ss-bulk-actions,
	.ss-filter,
	.button-secondary {
		margin-left: 5px;
	}

	.ss-filters-right,
	.ss-import {
		float: right;
	}

	.ss-export-import,
	.ss-import {
		font-size: 12px;
		font-weight: 400;
		color: var(--ss-color-light);

		a {
			text-decoration: none;
			color: var(--ss-color-gray);

			&:hover {
				color: var(--ss-color-primary);
			}
		}
	}

	.ss-export-import {
		margin-right: 5px;
	}
}

.ss-table {
	width: 100%;
	border-collapse: collapse;

	thead,
	tfoot {
		color: var(--ss-color-gray);
	}

	tr {
		border-bottom: var(--ss-border);
	}

	tfoot tr {
		border-bottom: none;
	}

	th,
	td {
		padding: 8px;
		vertical-align: top;
	}

	th {
		font-weight: 400;
		text-align: left;

		&.sortable,
		&.sorted {
			padding: 0;
		}
	}

	a {
		text-decoration: none;

		.ss-tooltip {
			float: right;
		}
	}

	.ss-log__hit {
		width: 80px;
	}

	.ss-log__created_at,
	.ss-log__updated_at {
		width: 140px;
	}
}

.ss-redirect__checkbox {
	width: 20px;
}

.ss-redirect__type,
.ss-redirect__enable {
	width: 60px;
}

.ss-redirect__note {
	width: 20%;
}

.ss-table .ss-redirect__actions {
	text-align: right;
}

.ss-redirect__actions,
.ss-log__actions {
	width: 60px;
	text-align: right;

	a {
		color: var(--ss-color-gray);
		padding: 4px;
		border-radius: 4px;
		display: inline-block;
		transition: none;

		&:hover {
			color: inherit;
			background: var(--ss-color-lighter);

			.dashicons-trash {
				color: var(--ss-color-red);
			}
		}
	}

	.dashicons {
		font-size: 16px;
		width: 18px;
		height: 18px;
	}
}

.ss-redirect__url {
	small {
		display: block;
		margin-top: 4px;
	}
}

.ss-redirects-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}

.ss-paginate {
	ul {
		margin: 0;
		display: flex;
		gap: 4px;

		.disabled {
			display: none!important;
		}
	}
}

.ss-loader {
	border: 3px solid #fff;
	border-top: 3px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: ss-spin 2s linear infinite;
	margin: 20px auto;
}

.ss-modal .components-modal__frame {
	width: 600px;
}

.ss-warning-message {
	color: var(--ss-color-red);
	margin-bottom: 0;
}

.ssr-modal-field {
	margin-bottom: 12px;
	display: flex;
	flex-direction: column;
	gap: 4px;

	label {
		font-weight: bold;
	}

	input,
	select {
		width: 100%;
		max-width: none;
		margin: 0;
	}

	button:focus {
		outline: none;
	}
}

.ss-from-inputs {
	display: grid;
	grid-template-columns: 150px 1fr;
	gap: 4px;
}

.ssr-modal .button-primary {
	margin-top: 24px;
}
.ssr-modal .button-link:focus {
	box-shadow: none;
}

.ss-sub-setting {
	padding-left: 50px;

	th {
		font-weight: normal;
	}
}

.ss-to-wrapper {
	position: relative;

	&:has(ul) > input {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	ul {
		position: absolute;
		left: 0;
		right: 0;
		border: 1px solid #8c8f94;
		border-top: 0;
		background: #fff;
		list-style: none;
		margin: 0;
		padding: 0;
		max-height: 150px;
		overflow-y: auto;
		z-index: 1000;

		li {
			padding: 8px;
			margin: 0;
			cursor: pointer;
			border-bottom: 1px solid #eee;

			&:hover {
				background: #f0f0f0;
			}
		}
	}
}

.ss-upload {
	.components-modal__frame {
		width: 900px;
	}

	.ss-redirect-import-instructions {
		margin-top: 10px;

		table {
			border-collapse: collapse;
			width: 100%;

			th, td {
				border: 1px solid #ddd;
				padding: 5px;
			}
		}
	}
}

@keyframes ss-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}