@use 'components/variables';
@use 'components/toggle';
@use 'components/tabs';
@use 'components/postbox';
@use 'components/feature-box';

/* General */

.settings_page_slim-seo {
	#wpcontent {
		padding-left: 0;
	}

	.wrap {
		margin: 0;
	}

	#poststuff {
		padding-top: 0;
	}

	.update-nag {
		display: none;
	}

	.button-link-delete,
	.button-link-delete:hover {
		border-color: currentColor;
	}
}

.ss-content {
	display: grid;
	grid-template-columns: 1fr 300px;
	align-items: start;
	gap: 24px;
	margin: 48px 24px;
}

.ss-upgrade .dashicons {
	color: var(--ss-color-red);
}

.notice.notice {
	margin: 24px;
}

/* Header */
/* Very high specificity to overwrite Elementor's CSS: https://wordpress.org/support/topic/admin-css-file-is-enqueued-on-and-brake-other-admin-pages/ */
#wpwrap #wpcontent #wpbody .ss-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	padding: 12px 24px;
	border-bottom: var(--ss-border);
	font-size: 20px;
}

.ss-title svg {
	width: 36px;
	height: 36px;
	margin-right: 8px;
}

.ss-title a:first-of-type {
	margin-left: auto;
}

.ss-title a {
	font-size: 13px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 4px;
}

.ss-title a+a {
	margin-left: 24px;
}

.ss-title .dashicons {
	font-size: 16px;
	width: 16px;
	height: 16px;
}

.ss-title__upgrade {
	color: var(--ss-color-red);
}

/* Tooltip */
.ss-tooltip {
	color: #ccc;
	width: 16px;
	height: 16px;
	display: inline-flex;
	align-items: center;
	margin-top: 2px;
}

.ss-tooltip .dashicons {
	font-size: 14px;
	width: 16px;
	height: 16px;
}

.tippy-tooltip {
	text-align: left;
}

/* Misc */
p.submit {
	margin-bottom: 0;
	padding-bottom: 0;
}

@media (max-width: 1023px) {
	.ss-upgrade {
		display: none;
	}
}

.ss-post-type-settings {
	display: none;

	&.ss-is-active {
		display: block;
	}
}