.ss-table {
	.ss-log__hit {
		width: 8%;
	}

	.ss-log__created_at,
	.ss-log__updated_at {
		width: 15%;
	}

	.ss-log__actions {
		width: 10%;
	}

	a {
		padding: 0px!important;

		.ss-tooltip {
			float: right!important;
		}
	}
}