.ss-filters {
	margin: 10px 0px;

	.ss-bulk-actions,
	.ss-filter {
		margin-left: 20px;
	}

	.button-secondary {
		margin-left: 6px;
	}

	.ss-search {
		float: right;
	}
}

.ss-table {
	width: 100%;
	border-collapse: collapse;

	thead,
	tfoot {
		color: var(--color-gray);
	}

	tr {
		border-bottom: var(--border);
	}

	th,
	td {
		padding: 8px 12px;
	}

	th {
		font-weight: 400;
		text-align: left;

		&.ss-redirect__actions {
			text-align: right;
		}
	}

	a {
		text-decoration: none;
	}
}

.ss-redirect__checkbox {
	width: 20px;
}

.ss-redirect__type,
.ss-redirect__enable {
	width: 60px;
}

.ss-redirect__note {
	width: 20%;
}

.ss-redirect__actions {
	width: 60px;
	text-align: right;

	a {
		color: var(--color-gray);
		padding: 4px;
		border-radius: 4px;
		display: inline-block;
		transition: none;

		&:hover {
			color: inherit;
			background: var(--color-lighter);

			.dashicons-trash {
				color: var(--color-red);
			}
		}
	}
	.dashicons {
		font-size: 16px;
		width: 18px;
		height: 18px;
	}
}

.ss-toggle {
	cursor: pointer;
	display: inline-block;

	.ss-toogle__switch {
		display: inline-block;
		background: #ccc;
		border-radius: 16px;
		width: 29px;
		height: 16px;
		position: relative;
		vertical-align: middle;
		transition: background 0.25s;
	}

	.ss-toogle__switch:before, .ss-toogle__switch:after {
		content: "";
	}

	.ss-toogle__switch:before {
		display: block;
		background: linear-gradient(to bottom, #fff 0%, #eee 100%);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
		width: 12px;
		height: 12px;
		position: absolute;
		top: 2px;
		left: 2px;
		transition: left 0.25s;
	}

	.ss-toogle__checkbox:checked + .ss-toogle__switch {
		background: #56c080;
	}

	.ss-toogle__checkbox:checked + .ss-toogle__switch:before {
		left: 15px;
	}

	.ss-toogle__checkbox {
		position: absolute;
		visibility: hidden;
	}

	.ss-toogle__label {
		margin-left: 5px;
		position: relative;
		top: 2px;
	}
}

.ss-paginate {
	text-align: center;

	ul li {
		display: inline-block;
		margin: 0px 10px;
	}

	.disabled {
		display: none!important;
	}

	.selected a {
		color: #e53e3e;
	}

	a {
		cursor: pointer;
	}
}

.ss-loader {
	border: 3px solid #fff;
	border-top: 3px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: ss-spin 2s linear infinite;
	margin: 20px auto;
}

.ss-modal {
	position: fixed;
	z-index: 999999;
	padding-top: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba( 0,0,0,0.4 );

	&__content {
		background-color: #fff;
		margin: auto;
		padding: 24px;
		width: 50%;
		position: relative;

		.ss-warning-message {
			color: var(--color-red);
		}

		label {
			font-weight: bold;
		}

		#ss-type {
			width: 100%;
		}

		#ss-condition {
			width: 30%;
		}

		#ss-from {
			width: 65%;
		}
	}

	&__close {
		position: absolute;
		top: 6px;
		right: 10px;
		color: var(--color-gray);
		font-size: 18px;
		background: none;
		border: none;
		cursor: pointer;
	}

	&__close:hover,
	&__close:focus {
		color: inherit;
	}

	h3 {
		margin-top: 0;
	}
}

@keyframes ss-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}