.ss-success:after,
.ss-warning:after,
.ss-danger:after {
	display: inline-block;
	width: 12px;
	height: 12px;
	font-size: 8px;
	line-height: 12px;
	border-radius: 9px;
	color: #fff;
	text-align: center;
}

.ss-success:after {
	content: "✓";
	background: #70d028;
}

.ss-warning:after {
	content: "!";
	background: #fe9a00;
	border-radius: 0;
	height: 10.3932px; // 12 * \/3
	clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}

.ss-danger:after {
	content: "✕";
	background: #e53e3e;
}
