@use 'variables';

.ss-toggle {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;

	&__switch {
		display: inline-block;
		background: #ccc;
		height: 16px;
		width: 28px;
		border-radius: 99px;
		position: relative;
		transition: background .2s;

		&:before {
			display: inline-block;
			content: '';
			height: 12px;
			width: 12px;
			border-radius: 99px;
			position: absolute;
			top: 2px;
			left: 2px;
			background: #fff;
			transition: left .2s;
		}
	}

	input {
		display: none;

		&:checked + .ss-toggle__switch {
			background: var(--ss-color-primary);

			&:before {
				left: 14px;
			}
		}
	}
}
