:root {
	--ss-color-gray: #999;
	--ss-color-light: #e0e0e0;
	--ss-color-lighter: #f0f0f0;
	--ss-color-red: #e53e3e;
	--ss-border: 1px solid var(--ss-color-light);
	--ss-border-lighter: 1px solid var(--ss-color-lighter);
	--ss-color-primary: #3858e9;
}
